@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Raleway:wght@600&display=swap');
body {
	font-family: 'Raleway', sans-serif;
	background-color: #ffe6e6;
}


header img {
	max-height: 50px;
}

main {
	max-width: 600px;
	margin: 0 auto;
	padding: 40px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	text-align: center;
	position: relative;
  top:100px;
  
}

.blink {
	animation: blink 1s linear infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.animation-container {
	position: absolute;
	top: -80px;
	left: 45%;
	transform: translateX(-50%);
	animation: move 2s ease-in-out infinite;
}

@keyframes move {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(0);
	}
}

.animation {
	display: flex;
	align-items: center;
}

.dot {
	background-color: #ff5a5f;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.2);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

p {
	font-size: 18px;
	margin-bottom: 30px;
}

button {
	background-color: #ff5a5f;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	padding: 12px 20px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

button:hover {
	background-color: #e0484f;
}
